server {
  server_name {{server_name|join(' ')}};
  
  include conf.d/common.conf;
  include conf.d/ssl.conf;
  include conf.d/sslmodern.conf;

  ssl_certificate {{letsencrypt_ssl_root}}/{{server_name[0]}}/fullchain.pem;
  ssl_certificate_key {{letsencrypt_ssl_root}}/{{server_name[0]}}/privkey.pem;
  ssl_trusted_certificate {{letsencrypt_ssl_root}}/{{server_name[0]}}/chain.pem;

  access_log /var/log/nginx/{{server_name[0]}}.log combined if=$loggable;

  root {{nginx_site_root}};
{% if basic_auth_user != "" and basic_auth_pass != "" %}

  auth_basic "{{basic_auth_realm}}";
  auth_basic_user_file /etc/nginx/{{server_name[0]}}.htpasswd;
{% endif %}
{% if proxy_port != "" %}

  location / {
    include conf.d/proxy.conf;
    proxy_pass {{proxy_host}}:{{proxy_port}};
  }
{% endif %}
}
